<h2 class="top_title">バンドログイン</h2>

<div class="devise_form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table>
      <tr>
        <th><%= f.label :email %></th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>

      <tr>
        <th><%= f.label :password %></th>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>

      <% if devise_mapping.rememberable? %>
        <tr>
          <th><%= f.label :remember_me %></th>
          <td><%= f.check_box :remember_me %></td>
        </tr>
      <% end %>
    </table>

    <div class="actions_submit">
      <%= f.submit t('views.log_in') %>
    </div>
  <% end %>

  <%= render "bands/shared/links" %>
</div>