<h2 class="text-center">ライブハウス検索フォーム</h2>
<br>
<div class="container col-md-5">
  <%= search_form_for @q do |f| %>
    <form class='needs-validation' novalidate>

      <div class='form-group row d-flex align-items-center'>
        <label class="control-label text-center col-4"><%= f.label t('views.live_house.name') %></label>
        <%= f.search_field :name_cont, class: 'form-control col-8', placeholder: '調べたいライブハウス名を入力', id: 'search_live_house' %>
      </div>

      <div class='form-group row d-flex align-items-center'>
        <label class="control-label text-center col-4"><%= f.label t('views.live_house.prefecture') %></label>
        <%= f.select :prefecture_eq, LiveHouse.prefectures.keys.map {|k| [k, LiveHouse.prefectures[k]]}, {prompt: '選択してください'},
                     class: 'form-control col-8', id: 'search_prefecture', autofocus: true %>
      </div>

      <div class='form-group row'>
        <%= f.submit class: 'btn btn-block btn-water-blue rounded-pill' %>
      </div>
    </form>
  <% end %>
  <div class=" text-center">
    <%= link_to "ライブを直接探す", lives_path, class: 'btn btn-orange rounded-pill' %>
    <%= link_to "バンドから探す", bands_path, class: 'btn btn-orange rounded-pill' %>
    <br><br>
  </div>
</div>

<div class="live_house_index">
  <h2 class="text-center">ライブハウス一覧</h2>
  <% @live_houses.each do |live_house| %>
    <table>
      <tbody>
      <tr>
        <th class="text-center"><%= live_house.prefecture %></th>
        <td><%= link_to live_house.name, live_house_path(live_house) %></td>
      </tr>
      </tbody>
    </table>
  <% end %>
  <%= paginate @live_houses %>
</div>