<div class="live_house_index_page">

  <div>
    <%= search_form_for @q do |f| %>

      <%= f.label :name %>
      <%= f.search_field :name_cont %>

      <%= f.submit %>
    <% end %>
  </div>

  <div>
    <% @live_houses.each do |live_house| %>
      <%= link_to live_house.name, live_house_path(live_house) %>
    <% end %>
  </div>
</div>