<%= render 'profile' %>
<div class="profile_content">
  <div class="row text-center">
    <%= link_to 'ライブスケジュール', live_house_path(@live_house.id), class: 'btn bg-secondary col p-3 text-light' %>
  </div>
  <br>
  <table>
    <tbody>
    <% unless @lives == nil %>
      <% @lives.each do |live| %>
        <tr>
          <td><%= l(live.date, format: :default) %></td>
          <td><%= link_to live.title, live_path(live) %></td>
          <% live.place.each do |place| %>
            <td><%= place.name %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <br>
  <div class="text-center">
    <%= link_to t('views.back'), :back, class: 'btn btn-primary' %>
  </div>
</div>
<div class="map_area">
  <br><br>
  <div id="map"></div>
</div>

