<%= render 'profile' %>

<div class="container">
  <!--  <h3 class="text-center">行く予定のライブ</h3>-->
  <div class="row text-center">
    <%= link_to user_path(@user.id) do %>
      <div class="col-4 p-3 bg-dark"><h6>ライブうぃる</h6></div>
    <% end %>
    <div class="col-4 p-3 bg-secondary block"><h6>ライブわず</h6></div>
    <div class="col-4 p-3 bg-secondary block"><h6>フォローバンド</h6></div>
  </div>
</div>

<div class="profile_content">

  <table>
    <tbody>
    <% @going_to_lives.each do |live| %>
      <tr>
        <td><%= l(live.date, format: :default) %></td>
        <td><%= link_to live.title, live_path(live) %></td>
        <% live.place.each do |place| %>
          <td><%= place.name %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
