<%= render 'profile' %>

<div class="container">
    <h3 class="text-center">行く予定のライブ</h3>
  <div class="row text-center">
    <%= link_to 'ライブうぃる', user_path(@user.id), class: 'btn bg-secondary col-4 p-3' %>
    <%= link_to 'ライブわず', user_path(@user.id), class: 'btn bg-secondary col-4 p-3' %>
    <%= link_to 'フォローパンド一覧', follow_band_page_user_path, class: 'btn bg-secondary col-4 p-3' %>
  </div>
</div>

<div class="profile_content">

  <table>
    <tbody>
    <% @going_to_lives.each do |live| %>
      <tr>
        <td><%= l(live.date, format: :default) %></td>
        <td><%= link_to live.title, live_path(live) %></td>
        <% live.place.each do |place| %>
          <td><%= place.name %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
