<div class="container">
  <br><br>
  <div class="row">
    <div class="col-sm-5 col-xs-12">
      <%= image_tag 'default_icon.jpeg', class: "pc-dsp img-thumbnail icon-image float-right", alt: 'バンドトップ画像' %>
      <%= image_tag 'default_icon.jpeg', class: "sp-dsp img-thumbnail icon-image mx-auto", alt: 'バンドトップ画像' %>
      <br>
    </div>
    <div class="col-sm-5 col-xs-12 text-center">
      <h3><%= @band.name %></h3>
      <p>活動拠点:<%= @band.prefecture %></p>
      <h5 class="pc-dsp">フォローユーザー数</h5>
      <h4 class="pc-dsp"><strong><%= @follow_bands %></strong></h4>
      <br>
    </div>
  </div>
</div>