<div class="search_form">
  <h1>バンド検索フォーム</h1>
  <%= search_form_for @q do |f| %>
    <table>
      <tbody>
      <tr>
        <th><%= f.label t('views.band.name') %></th>
        <td><%= f.search_field :name_cont %></td>
      </tr>
      <tr>
        <th><%= f.label t('views.band.prefecture') %></th>
        <td><%= f.select :prefecture_eq, Band.prefectures.keys.map {|k| [k, Band.prefectures[k]]}, {prompt: '選択してください'},
                         class: 'form-control btn btn-info', autofocus: true %></td>
      </tr>
      </tbody>
    </table>
    <div class="search_submit">
      <%= f.submit %>
    </div>
  <% end %>
  <div class="search_link">
    <%= link_to "ライブを直接探す", lives_path %>
    <%= link_to "ライブハウスから探す", live_houses_path %>
  </div>
</div>
<h1 class="top_title">バンド一覧</h1>
<div class="band_index">
  <% @bands.each do |band| %>
    <table>
      <tbody>
      <tr>
        <td><%= band.prefecture %></td>
        <td><%= link_to band.name, band_path(band) %></td>
      </tr>
      </tbody>
    </table>
  <% end %>
</div>