<div class="container">
  <h2 class="text-center">バンド検索フォーム</h2>
  <%= search_form_for @q do |f| %>
    <table class="table table-dark table-borderless table-sm col-sm-12 col-md-5" align="center">
      <tbody>
      <tr>
        <th class="text-center"><%= f.label t('views.band.name') %></th>
        <td><%= f.search_field :name_cont, class: 'col-11', id: 'search_band' %></td>
      </tr>
      <tr>
        <th class="text-center"><%= f.label t('views.band.prefecture') %></th>
        <td><%= f.select :prefecture_eq, Band.prefectures.keys.map {|k| [k, Band.prefectures[k]]}, {prompt: '選択してください'},
                         class: 'form-control col-11', id: 'search_prefecture', autofocus: true %></td>
      </tr>
      <tr>
        <th colspan='2'><%= f.submit class: 'btn btn-block btn-secondary' %></th>
      </tr>
      </tbody>
    </table>
  <% end %>
  <div class="text-center">
    <%= link_to "ライブを直接探す", lives_path, class: 'btn btn-secondary' %>
    <%= link_to "ライブハウスから探す", live_houses_path, class: 'btn btn-secondary' %>
    <br><br>
  </div>
</div>

<h2 class="text-center">バンド一覧</h2>
<div class="band_index">
  <% @bands.each do |band| %>
    <table>
      <tbody>
      <tr>
        <td><%= band.prefecture %></td>
        <td><%= link_to band.name, band_path(band) %></td>
      </tr>
      </tbody>
    </table>
  <% end %>
  <%= paginate @bands %>
</div>