<h1 class="top_title">バンド詳細ページ</h1>
<div class="user_profile">
  <div class="profile_left">
    <h3>バンド名:<%= @band.name %></h3>
    <h4>活動拠点:<%= @band.prefecture %></h4>
  </div>

  <div class="profile_right">
    <h3>フォローユーザー数:<%= @follow_bands %></h3>
    <% if current_band != nil %>
      <% if current_band.id == @band.id %>
        <%= link_to t('views.edit_page'), edit_band_registration_path %>
        <%= link_to t('views.log_out'), destroy_band_session_path %>
      <% end %>
    <% end %>
  </div>

</div>

<div class="profile_menu_list">

</div>

<div class="profile_content">
  <h2>ライブスケジュール</h2>
  <% if current_band != nil %>
    <% if current_band.id == @band.id %>
      <%= link_to '新たにライブを追加する', new_live_path %>
    <% end %>
  <% end %>
  <br>
  <br>
  <table>
    <tbody>
    <% @lives.each do |live| %>
      <td><%= l(live.date, format: :default) %></td>
      <td><%= link_to live.title, live_path(live) %></td>
      <% live.place.each do |place| %>
        <% if place.place_to_live_houses.present? %>
          <% place.place_to_live_houses.each do |live_house| %>
            <td><%= place.name %>(<%= live_house.prefecture %>)</td>
          <% end %>
        <% else %>
          <td><% place.name %></td>
        <% end %>
      <% end %>
      <% if current_band != nil %>
        <% if current_band.id = live.band_id %>
          <td><%= link_to t('views.edit'), edit_live_path(live.id) %></td>
          <td><%= link_to t('views.live.destory'), live_path(live.id), method: :delete,
                          data: {confirm: '本当に削除してもよろしいですか？'} %></td>
        <% end %>
      <% end %>
    <% end %>
    </tr>
    </tbody>
    <br>
    <%= link_to t('views.back'), :back %>
    <br><br>
    <% if user_signed_in? %>
      <% if !FollowBand.exists?(user_id: current_user.id, band_id: @band.id) %>
        <%= link_to 'フォロー', follow_bands_path(band_id: @band.id), method: :post %>
      <% else %>
        <%= link_to 'フォロー解除', follow_band_path(id: @band), method: :delete %>
      <% end %>
    <% end %>
  </table>

</div>
