<%= render 'profile' %>
<div class="container text-center">
  <% if current_band != nil %>
    <% if current_band.id == @band.id %>
      <%= link_to '新たにライブを追加する', new_live_path, class: 'btn btn-primary' %>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <% if !FollowBand.exists?(user_id: current_user.id, band_id: @band.id) %>
      <%= link_to 'フォロー', follow_bands_path(band_id: @band.id), class: 'btn btn-primary', method: :post %>
    <% else %>
      <%= link_to 'フォロー解除', follow_band_path(id: @band), class: 'btn btn-primary', method: :delete %>
    <% end %>
  <% end %>
  <br><br>
  <div class="row text-center">
    <% if @band == current_band %>
      <%= link_to '主催ライブ', band_path(@band.id), class: 'btn bg-secondary col p-3 text-light' %>
      <%= link_to '出演ライブ', band_path(@band.id), class: 'btn bg-secondary col p-3 text-light' %>
      <%= link_to 'フォローパンド一覧', band_path(@band.id), class: 'btn bg-secondary col p-3 text-light' %>
    <% else %>
      <%= link_to '出演予定ライブ', band_path(@band.id), class: 'btn bg-secondary col p-3 text-light' %>
      <%= link_to '過去のライブ', band_path(@band.id), class: 'btn bg-secondary col p-3 text-light' %>
    <% end %>
  </div>

  <% @lives.each do |live| %>
    <div class="row text-center align-middle link_box">
      <div class="col-5 p-2"><%= link_to l(live.date, format: :default), live_path(live), class: 'link_value d-block text-white' %></div>
      <div class="col-7 p-2"><%= link_to live.title, live_path(live), class: 'link_value d-block text-white' %></div>
      <div class="col-5">
        <% live.place.each do |place| %>
          <% if place.place_to_live_houses.present? %>
            <% place.place_to_live_houses.each do |live_house| %>
              <td class="p-2"><%= link_to place.name, live_path(live), class: 'link_value d-block text-white' %>
                <small><%= link_to "(#{live_house.prefecture})", live_path(live), class: 'link_value d-block text-white' %></small>
              </td>
            <% end %>
          <% else %>
            <td class="p-2"><%= link_to place.name, live_path(live), class: 'link_value d-block text-white' %></td>
          <% end %>
        <% end %>
      </div>
      <div class="col-7">
        <% live.act.each do |act| %>
          <td class="p-2"><%= link_to act.name, live_path(live), class: 'link_value d-block text-white' %></td>
        <% end %>
      </div>
    </div>
  <% end %>
  <br>
  <div class="text-center">
    <%= link_to t('views.back'), :back, class: 'btn btn-primary' %>
  </div>
</div>