<%= render 'profile' %>
<div class="container text-center">
  <% if current_band != nil %>
    <% if current_band.id == @band.id %>
      <%= link_to '新たにライブを追加する', new_live_path, class: 'btn btn-primary' %>
    <% end %>
  <% end %>
  <br>
  <div class="row text-center">
    <% if @band == current_band %>
      <%= link_to '主催ライブ', band_path(@band.id), class: 'btn bg-secondary col p-3 text-light' %>
      <%= link_to '出演ライブ', band_path(@band.id), class: 'btn bg-secondary col p-3 text-light' %>
      <%= link_to 'フォローパンド一覧', band_path(@band.id), class: 'btn bg-secondary col p-3 text-light' %>
    <% else %>
      <%= link_to '出演予定ライブ', band_path(@band.id), class: 'btn bg-secondary col p-3 text-light' %>
      <%= link_to '過去のライブ', band_path(@band.id), class: 'btn bg-secondary col p-3 text-light' %>
    <% end %>
  </div>

  <div class="profile_content">
    <br>
    <table>
      <tbody>
      <% @lives.each do |live| %>
        <tr>
          <td><%= l(live.date, format: :default) %></td>
          <td><%= link_to live.title, live_path(live) %></td>
          <% live.act.each do |act| %>
            <td>Act:<%= act.name %></td>
          <% end %>
          <% live.place.each do |place| %>
            <% if place.place_to_live_houses.present? %>
              <% place.place_to_live_houses.each do |live_house| %>
                <td><%= place.name %>(<%= live_house.prefecture %>)</td>
              <% end %>
            <% else %>
              <td>
                <% place.name %></td>
            <% end %>
          <% end %>
          <% if current_band != nil %>
            <% if current_band.id = live.band_id %>
              <td><%= link_to t('views.edit'), edit_live_path(live.id) %></td>
              <td><%= link_to t('views.live.destory'), live_path(live.id), method: :delete,
                              data: {confirm: '本当に削除してもよろしいですか？'} %></td>
            <% end %>
          <% end %>
      <% end %>
      </tr>
      </tbody>
      <% if user_signed_in? %>
        <% if !FollowBand.exists?(user_id: current_user.id, band_id: @band.id) %>
          <%= link_to 'フォロー', follow_bands_path(band_id: @band.id), method: :post %>
        <% else %>
          <%= link_to 'フォロー解除', follow_band_path(id: @band), method: :delete %>
        <% end %>
      <% end %>
    </table>
  </div>
  <br>
  <div class="text-center">
    <%= link_to t('views.back'), :back, class: 'btn btn-primary' %>
  </div>
</div>
