<h2 class="top_title">バンド新規登録</h2>

<div class="devise_form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <table>
      <tr>
        <th><%= f.label :email %></th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>

      <tr>
        <th><%= f.label :name %></th>
        <td><%= f.text_field :name, autofocus: true %></td>
      </tr>

      <tr>
        <th><%= f.label :prefecture %></th>
        <td><%= f.select :prefecture, Band.prefectures.keys, {prompt: '選択してください'},
                     class: 'form-control btn btn-info', autofocus: true %></td>
      </tr>

      <tr>
        <th><%= f.label :password %><%= '(6文字以上)' %></th>
        <td><%= f.password_field :password, autocomplete: "new-password" %></td>
      </tr>

      <tr>
        <th><%= f.label :password_confirmation %></th>
        <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
      </tr>
    </table>

    <div class="actions_submit">
      <%= f.submit t('views.sign_up') %>
    </div>
    <%= render "bands/shared/links" %>
  <% end %>
</div>