<h2 class="text-center">ライブハウスログイン</h2>
<br>
<div class="container col-md-4">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}", class: 'text-center text-danger' if msg.is_a?(String) %>
    <% end %>
    <form class='needs-validation' novalidate>
      <div class='form-group'>
        <label class='control-label'><%= f.label :email %></label>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Eメールアドレス', autofocus: true, autocomplete: "email", required: true %>
      </div>

      <div class="form_group">
        <label class="control-label"><%= f.label :password %></label>
        <%= f.password_field :password, class: 'form-control', placeholder: 'パスワード', autocomplete: "current-password", required: true %>
      </div>

      <div class="form_group text-center">
        <% if devise_mapping.rememberable? %>
          <br>
          <label class='control-label'><%= f.check_box :remember_me %>　<%= f.label :remember_me %></label>
        <% end %>
      </div>
      <br>
      <%= f.submit t('views.log_in'), class: 'btn btn-block btn-info' %>
    </form>
  <% end %>
  <br>
  <%= render "live_houses/shared/links" %>
  <div class="text-center">
    <br>
    <%= link_to 'ゲストライブハウスログイン', live_houses_guest_sign_in_path, method: :post %>
  </div>
</div>