<div class="root_image">
  <%= image_tag 'top.jpg', class: 'top_image' %>
</div>

<div class="root_description">

  <h1>Live Linkは人とライブ、人とバンド、人とライブハウスを繋げるアプリです</h1>
  <p>ふとした時にライブに行きたいけど、どのライブがあるかわからない</p>
  <p>このバンドは知ってるけど、対バンは知らないから行くか迷う</p>
  <p>好きなバンドが多すぎてTwitterやHPからじゃ情報を追いきれない</p>
  <h2>そんなあなたを手助けするアプリです！</h2>
</div>

<div class="root_starting_link">
  <p>とりあえず使ってみる</p>
  <div class="root_searching_live">
    <div class="circle_link">
      <%= link_to "ライブを直接探す", lives_path %>
    </div>
  </div>

  <div class="root_searching_band">
    <div class="circle_link">
      <%= link_to "バンドから探す", bands_path %>
    </div>
  </div>

  <div class="root_searching_live_house">
    <div class="circle_link">
      <%= link_to "ライブハウスから探す", live_houses_path %>
    </div>
  </div>
</div>

<div class="root_sign_up_link">
  <p>更に便利に使うために新規登録する</p>
  <div class="root_sign_up_user">
    <div class="circle_link">
      <%= link_to "一般ユーザー登録", new_user_registration_path %>
    </div>
  </div>
  <div class="root_sign_up_band">
    <div class="circle_link">
      <%= link_to "バンド登録", new_band_registration_path %>
    </div>
  </div>
  <div class="root_sign_up_live_house">
    <div class="circle_link">
      <%= link_to "ライブハウス登録", new_live_house_registration_path %>
    </div>
  </div>
</div>

<div class="root_login_link">
  <p>ログインする</p>
  <div class="root_login_user">
    <div class="circle_link">
      <%= link_to "ユーザーログイン", new_user_session_path %>
    </div>
  </div>
  <div class="root_login_band">
    <div class="circle_link">
      <%= link_to "バンドログイン", new_band_session_path %>
    </div>
  </div>
  <div class="root_login_live_house">
    <div class="circle_link">
      <%= link_to "ライブハウスログイン", new_live_house_session_path %>
    </div>
  </div>
</div>

