<h1>編集画面</h1>

<div class="live_page">
  <%= form_with(model: @live, url: edit_live_path, local: true) do |form| %>
    <% if @live.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(live.errors.count, "error") %> prohibited this live from being saved:</h2>

        <ul>
          <% live.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <table>
      <tr>
        <th><%= form.label :title %></th>
        <td><%= form.text_field :title %></td>
      </tr>

      <tr>
        <th><%= form.label :date %></th>
        <td><%= form.date_select :date %></td>
      </tr>

      <%= form.fields_for :act do |m| %>
        <tr>
          <th><%= m.label :acts %></th>
          <td><%= m.text_field :act %></td>
        </tr>

        <tr>
          <th><%= m.label :url %></th>
          <td><%= m.text_field :url %></td>
        </tr>
      <% end %>

      <tr>
        <th><%= form.label :open_time %></th>
        <td><%= form.time_select :open_time, {minute_step: 10} %></td>
      </tr>

      <tr>
        <th><%= form.label :start_time %></th>
        <td><%= form.time_select :start_time, {minute_step: 10} %></td>
      </tr>

      <tr>
        <th><%= form.label :end_time %></th>
        <td><%= form.time_select :end_time, {minute_step: 10} %></td>
      </tr>

      <tr>
        <th><%= form.label :open_time %></th>
        <td><%= form.time_select :open_time, {minute_step: 10} %></td>
      </tr>

      <tr>
        <th><%= form.label :early_bird_ticket_price %></th>
        <td><%= form.number_field :early_bird_ticket_price %></td>
      </tr>

      <tr>
        <th><%= form.label :tickets_for_today_price %></th>
        <td><%= form.number_field :tickets_for_today_price %></td>
      </tr>

      <tr>
        <th><%= form.label :image %></th>
        <td><%= form.file_field :image %></td>
        <td><%= image_tag(@live.image.url, class: "blog_image　rm_img") if @live.image? %></td>
        <%= form.hidden_field :image_cache %>
      </tr>

      <tr>
        <th><%= form.label :time_table_image %></th>
        <td><%= form.file_field :time_table_image %></td>
        <td><%= image_tag(@live.time_table_image.url, class: "blog_image　rm_img") if @live.time_table_image.url %></td>
        <%= form.hidden_field :time_table_image_cache %>
      </tr>

      <tr>
        <th><%= form.label :remarks %></th>
        <td><%= form.text_area :remarks %></td>
      </tr>
    </table>

    <div class="field">
      <%= form.label :status %>
      <%= form.number_field :status %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

</div>

<%= link_to t('views.back '), lives_path %>