<div class="search_form">
  <h1>ライブ検索フォーム</h1>
  <%= search_form_for @q do |f| %>
    <table>
      <tbody>
      <tr>
        <th><%= f.label t('views.live.date') %></th>
        <td><%= f.date_field :date_gteq, id: 'search_date_gteq', max: '9999/12/31' %> ~ </td>
        <td><%= f.date_field :date_lteq, id: 'search_date_lteq', max: '9999/12/31' %></td>
      </tr>
      <tr>
        <th><%= f.label t('views.live.prefecture') %></th>
        <td><%= f.select :place_place_to_live_houses_prefecture_eq, LiveHouse.prefectures.keys.map {|k| [k, LiveHouse.prefectures[k]]}, {prompt: '選択してください'},
                         class: 'form-control btn btn-info', id: 'search_prefecture', autofocus: true %></td>
      </tr>
      <tr>
        <th><%= f.label t('views.live.place') %></th>
        <td><%= f.search_field :place_name_cont, id: 'search_place' %></td>
      </tr>
      <tr>
        <th><%= f.label t('views.live.act') %></th>
        <td><%= f.search_field :act_name_cont, id: 'search_band' %></td>
      </tr>
      </tbody>
    </table>

    <div class="search_submit">
      <%= f.submit %>
    </div>
  <% end %>
  <div class="search_link">
    <%= link_to "バンドから探す", bands_path %>
    <%= link_to "ライブハウスから探す", live_houses_path %>
  </div>
</div>


<div class="live_index_page">
  <h1>ライブ一覧</h1>

  <table>
    <tbody>
    <% @lives.each do |live| %>
      <tr>
        <td><%= l(live.date, format: :default) %></td>
        <td><%= link_to live.title, live_path(live) %></td>
        <% live.act.each do |act| %>
          <td>Act:<%= act.name %></td>
        <% end %>
        <% live.place.each do |place| %>
          <% if place.place_to_live_houses.present? %>
            <% place.place_to_live_houses.each do |live_house| %>
              <td><%= place.name %>(<%= live_house.prefecture %>)</td>
            <% end %>
          <% else %>
            <td><%= place.name %></td>
          <% end %>
        <% end %>
    <% end %>
    </tr>
    </tbody>
  </table>
  <%= paginate @lives %>
</div>