<div class="container">
  <h2 class="text-center">ライブ検索フォーム</h2>
  <%= search_form_for @q do |f| %>
    <table class="table table-dark table-borderless table-sm col-sm-12 col-md-5" align="center">
      <tbody>
      <tr>
        <th class="text-center"><%= f.label t('views.live.date') %></th>
        <td><%= f.date_field :date_gteq, id: 'search_date_gteq', max: '9999/12/31' %> ~
          <%= f.date_field :date_lteq, id: 'search_date_lteq', max: '9999/12/31' %></td>
      </tr>
      <tr>
        <th class="text-center"><%= f.label t('views.live.prefecture') %></th>
        <td><%= f.select :place_place_to_live_houses_prefecture_eq, LiveHouse.prefectures.keys.map {|k| [k, LiveHouse.prefectures[k]]}, {prompt: '選択してください'},
                         class: 'form-control col-11', id: 'search_prefecture', autofocus: true %></td>
      </tr>
      <tr>
        <th class="text-center"><%= f.label t('views.live.place') %></th>
        <td><%= f.search_field :place_name_cont, class: 'col-11', id: 'search_place' %></td>
      </tr>
      <tr>
        <th class="text-center"><%= f.label t('views.live.act') %></th>
        <td><%= f.search_field :act_name_cont, class: 'col-11', id: 'search_band' %></td>
      </tr>
      <tr>
        <th colspan='2'><%= f.submit class: 'btn btn-block btn-secondary' %></th>
      </tr>
      </tbody>
    </table>
  <% end %>
  <div class="text-center">
    <%= link_to "バンドから探す", bands_path, class: 'btn btn-secondary' %>
    <%= link_to "ライブハウスから探す", live_houses_path, class: 'btn btn-secondary' %>
    <br><br>
  </div>
</div>


<div class="live_index_page">
  <h2 class="text-center">ライブ一覧</h2>

  <table>
    <tbody>
    <% @lives.each do |live| %>
      <tr>
        <td><%= l(live.date, format: :default) %></td>
        <td><%= link_to live.title, live_path(live) %></td>
        <% live.act.each do |act| %>
          <td>Act:<%= act.name %></td>
        <% end %>
        <% live.place.each do |place| %>
          <% if place.place_to_live_houses.present? %>
            <% place.place_to_live_houses.each do |live_house| %>
              <td><%= place.name %>(<%= live_house.prefecture %>)</td>
            <% end %>
          <% else %>
            <td><%= place.name %></td>
          <% end %>
        <% end %>
    <% end %>
    </tr>
    </tbody>
  </table>
  <%= paginate @lives %>
</div>