<p id="notice"><%= notice %></p>
<div class="live_page">
  <div class="live_index_image_area">
  </div>


  <div class="live_index_page">
    <h1>ライブ一覧</h1>

    <table>
      <tbody>
      <% @lives.each do |live| %>
        <tr>
          <td><%= l(live.date, format: :default) %></td>
          <td><%= live.title %></td>

          <td><%= link_to 'Show', live_path(live) %></td>
          <td><%= link_to 'Edit', edit_live_path(live) %></td>
          <td><%= link_to 'Destroy', live_path(live), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= link_to 'New Blog', new_live_path %>
  </div>
</div>


<p>user開発用</p>
<% if user_signed_in? %>
  ログインユーザー： <%= current_user.email %>
  <%= link_to 'アカウント変更', edit_user_registration_path %>
  <%= link_to "ログアウト", destroy_user_session_path %>
<% else %>
  <%= link_to "TOP画面", root_path %>
  <%= link_to "新規作成", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>


<p>band開発用</p>
<% if band_signed_in? %>
  ログインユーザー： <%= current_band.email %>
  <%= link_to 'アカウント変更', edit_band_registration_path %>
  <%= link_to "ログアウト", destroy_band_session_path %>
<% else %>
  <%= link_to "TOP画面", root_path %>
  <%= link_to "新規作成", new_band_registration_path %>
  <%= link_to "ログイン", new_band_session_path %>
<% end %>

<p>live_house開発用</p>
<% if live_house_signed_in? %>
  ログインユーザー： <%= current_live_house.email %>
  <%= link_to 'アカウント変更', edit_live_house_registration_path %>
  <%= link_to "ログアウト", destroy_live_house_session_path %>
<% else %>
  <%= link_to "TOP画面", root_path %>
  <%= link_to "新規作成", new_live_house_registration_path %>
  <%= link_to "ログイン", new_live_house_session_path %>
<% end %>