<h2 class="text-center">ライブ検索フォーム</h2>
<br>
<div class="container col-md-5">
  <%= search_form_for @q do |f| %>
    <form class='needs-validation' novalidate>

      <div class='form-group row d-flex align-items-center'>
        <label class="control-label text-center col-4"><%= f.label t('views.live.date') %></label>
        <%= f.date_field :date_gteq, id: 'search_date_gteq', max: '9999/12/31' %>~
        <%= f.date_field :date_lteq, id: 'search_date_lteq', max: '9999/12/31' %>
      </div>

      <div class='form-group row d-flex align-items-center'>
        <label class="control-label text-center col-4"><%= f.label t('views.live.prefecture') %></label>
        <%= f.select :place_place_to_live_houses_prefecture_eq, LiveHouse.prefectures.keys.map {|k| [k, LiveHouse.prefectures[k]]}, {prompt: '選択してください'},
                     class: 'form-control col-8', id: 'search_prefecture', autofocus: true %>
      </div>
      <div class='form-group row d-flex align-items-center'>
        <label class="control-label text-center col-4"><%= f.label t('views.live.place') %></label>
        <%= f.search_field :place_name_cont, class: 'form-control col-8', placeholder: '行きたいライブハウス名を入力', id: 'search_place' %>
      </div>

      <div class='form-group row d-flex align-items-center'>
        <label class="control-label text-center col-4"><%= f.label t('views.live.act') %></label>
        <%= f.search_field :act_name_cont, class: 'form-control col-8', placeholder: '見たいバンド名を入力', id: 'search_band' %>
      </div>

      <div class='form-group row'>
        <th colspan='2'><%= f.submit class: 'btn btn-block btn-water-blue rounded-pill' %></th>
      </div>
    </form>
  <% end %>
  <div class="text-center">
    <%= link_to "バンドから探す", bands_path, class: 'btn btn-orange rounded-pill' %>
    <%= link_to "ライブハウスから探す", live_houses_path, class: 'btn btn-orange rounded-pill' %>
    <br><br>
  </div>
</div>


<div class="live_index_page">
  <h2 class="text-center">ライブ一覧</h2>

  <table>
    <tbody>
    <% @lives.each do |live| %>
      <div class='form-group row'>
        <td><%= l(live.date, format: :default) %></td>
        <td><%= link_to live.title, live_path(live) %></td>
        <% live.act.each do |act| %>
          <td>Act:<%= act.name %></td>
        <% end %>
        <% live.place.each do |place| %>
          <% if place.place_to_live_houses.present? %>
            <% place.place_to_live_houses.each do |live_house| %>
              <td><%= place.name %>(<%= live_house.prefecture %>)</td>
            <% end %>
          <% else %>
            <td><%= place.name %></td>
          <% end %>
        <% end %>
    <% end %>
    </div>
    </tbody>
  </table>
  <%= paginate @lives %>
</div>