<p id="notice"><%= notice %></p>
<div class="live_page">
  <div class="live_index_image_area">
  </div>

  <div class="live_show_page">

    <table>

      <tr>
        <th>Title:</th>
        <td><%= @live.title %></td>
      </tr>

      <tr>
        <th>Date:</th>
        <td><%= l(@live.date, format: :default) %></td>
      </tr>

      <tr>
        <th>Open Time:</th>
        <td><%= l(@live.open_time, format: :time) %></td>
      </tr>

      <tr>
        <th>Start Time:</th>
        <td><%= l(@live.start_time, format: :time) %></td>
      </tr>

      <tr>
        <th>End Time:</th>
        <td><%= l(@live.end_time, format: :time) %></td>
      </tr>

      <tr>
        <th>Early Bird Ticket Price:</th>
        <td><%= @live.early_bird_ticket_price.to_s(:currency) %></td>
      </tr>

      <tr>
        <th>Tickets For Today Price:</th>
        <td><%= @live.tickets_for_today_price.to_s(:currency) %></td>
      </tr>

      <tr>
        <th>image:</th>
        <td><%= image_tag(@live.image.url, class: "blog_image　rm_img") if @live.image? %></td>
      </tr>

      <tr>
        <th>time_table_image:</th>
        <td><%= image_tag(@live.time_table_image.url, class: "blog_image　rm_img") if @live.time_table_image.url %></td>
      </tr>

      <tr>
        <th>Remarks:</th>
        <td><%= @live.remarks %></td>
      </tr>

      <tr>
        <th>status:</th>
        <td><%= @live.status %></td>
      </tr>

    </table>

    <%= link_to 'Edit', edit_live_path(@live) %> |
    <%= link_to 'Back', lives_path %>

  </div>
</div>
<% if user_signed_in? %>
  <% if !GoingToLive.exists?(user_id: current_user.id, live_id: @live.id) %>
    <%= link_to '行く予定ボタン', going_to_lives_path(live_id: @live.id), method: :post %>
  <% else %>
    <%= link_to '行く予定ボタン解除', going_to_live_path(id: @live), method: :delete %>
  <% end %>
<% end %>