<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @live.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @live.date %>
</p>

<p>
  <strong>Open Time:</strong>
  <%= @live.open_time %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @live.start_time %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @live.end_time %>
</p>

<p>
  <strong>Early Bird Ticket Price:</strong>
  <%= @live.early_bird_ticket_price %>
</p>

<p>
  <strong>Tickets For Today Price:</strong>
  <%= @live.tickets_for_today_price %>
</p>

<p>
  <strong>image:</strong>
  <%= image_tag(@live.image.url, class: "blog_image　rm_img") if @live.image? %>
  <%#= @live.image %>
</p>

<p>
  <strong>time_table_image:</strong>
  <%= image_tag(@live.time_table_image.url, class: "blog_image　rm_img") if @live.time_table_image.url %>
  <%#= @live.time_table_image %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @live.remarks %>
</p>

<p>
  <strong>status:</strong>
  <%= @live.status %>
</p>

<%= link_to 'Edit', edit_life_path(@live) %> |
<%= link_to 'Back', lives_path %>