<div class="live_show_page">

  <table>

    <tr>
      <th><%= t('views.live.title') %></th>
      <td><%= @live.title %></td>
    </tr>

    <tr>
      <th><%= t('views.live.place') %></th>
      <% @live.place.each do |place| %>
        <% if place.url != nil %>
          <td><%= link_to place.name, place.url %></td>
        <% else %>
          <td><%= place.name %></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <th><%= t('views.live.date') %></th>
      <td><%= l(@live.date, format: :default) %></td>
    </tr>

    <tr>
      <th><%= t('views.live.act') %></th>
      <% @live.act.each do |act| %>
        <% if act.url != nil %>
          <td><%= link_to act.name, act.url %></td>
        <% else %>
          <td><%= act.name %></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <th><%= t('views.live.open_time') %></th>
      <% if @live.open_time? %>
        <td><%= l(@live.open_time, format: :time) %></td>
      <% else %>
        <td><%= '未定' %></td>
      <% end %>
    </tr>

    <tr>
      <th><%= t('views.live.start_time') %></th>
      <% if @live.start_time? %>
        <td><%= l(@live.start_time, format: :time) %></td>
      <% else %>
        <td><%= '未定' %></td>
      <% end %>
    </tr>

    <tr>
      <th><%= t('views.live.end_time') %></th>
      <% if @live.end_time? %>
        <td><%= l(@live.end_time, format: :time) %></td>
      <% else %>
        <td><%= '未定' %></td>
      <% end %>
    </tr>

    <tr>
      <th><%= t('views.live.early_bird_ticket_price') %></th>
      <% if @live.early_bird_ticket_price? %>
        <td><%= @live.early_bird_ticket_price.to_s(:currency) %></td>
      <% else %>
        <td><%= '未定' %></td>
      <% end %>
    </tr>

    <tr>
      <th><%= t('views.live.tickets_for_today_price') %></th>
      <% if @live.tickets_for_today_price? %>
        <td><%= @live.tickets_for_today_price.to_s(:currency) %></td>
      <% else %>
        <td><%= '未定' %></td>
      <% end %>
    </tr>

    <% if @live.image? %>
      <tr>
        <th><%= t('views.live.image') %></th>
        <td><%= image_tag @live.image.url, class: "live_image" %></td>
      </tr>
    <% end %>

    <% if @live.time_table_image? %>
      <tr>
        <th><%= t('views.live.time_table_image') %></th>
        <td><%= image_tag @live.time_table_image.url, class: "live_image" %></td>
      </tr>
    <% end %>

    <% if @live.remarks? %>
      <tr>
        <th><%= t('views.live.remarks') %></th>
        <td><%= @live.remarks %></td>
      </tr>
    <% end %>

  </table>
  <br>
  <%= link_to t('views.back'), :back %>
  <br>
  <% if user_signed_in? %>
    <% if !GoingToLive.exists?(user_id: current_user.id, live_id: @live.id) %>
      <%= link_to '行く予定ボタン', going_to_lives_path(live_id: @live.id), method: :post %>
    <% else %>
      <%= link_to '行く予定ボタン解除', going_to_live_path(id: @live), method: :delete %>
    <% end %>
  <% end %>
</div>